.list-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  min-width: 46%;

  h2 {
    font-size: 1.2rem;
    font-weight: 600;
    position: relative;
    padding: 8px 16px;
    border-radius: 999px;
    color: white;
    background: #525577;
  }
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  color: #444;
  font-weight: 400;
  background: #52557714;
}

@media screen and (max-width: 768px) {
  .list-section {
    width: 100%;
  }
}
